<% provide :title, t(".fake_book") %>
<div class="content">
    <div class="center">
      <h1><%= t ".welcome" %></h1>
      <h2><%= t ".this_is_the_home_page" %></h2>
      <%= link_to t(".signup_now"), "#", class: "btn btn-lg btn-primary" %>
    </div>
  </div>

  <video id="my-video" class="video" muted loop>
    <source src="assets/demo.mp4" type="video/mp4">
  </video>
</div>
