
  <%= link_to gravatar_for(current_user, size: 50),
    current_user %>
  <h4><%= current_user.name %></h4>
<p><span><%= link_to t(".view_my_profile"), current_user %></span></p>
<p>
  <span>You have </span>
  <span><%= pluralize current_user.posts.count, t(".post") %></span>
</p>
