# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: ffed6812703ccf86ea9df7fd2d1ac274acba2fce2beea54f0801bb432868e978168168040334663b43c88b813c6963a42023b3c35ce7b10666012c7b7d311236

test:
  secret_key_base: 8f59cd8d72bef55326f46e8599b752669b4c3d2c34aa9f6bef468afba7b701028dc40adcb0635080b7146d5fda2638979e01171468b04c3179be931ee70d91c7

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
