<div class="row" style="margin-top: 60px;">
  <div class="col-md-3">
   <%= link_to "All User",  admins_users_path %>
  </div>
  <div class="col-md-3">
    <%= link_to "All Post", admins_posts_path %>
  </div>
  <div class="col-md-3">
    <%= link_to "Export All user to excel", "#" %>
  </div>
  <div class="col-md-3">
    <%= link_to "statistic", admins_statistic_path %>
  </div>
</div>
