<div class="row adminIndex"">
  <div class="col-md-3">
  <label>All Users</label>
    <%= link_to image_tag("user.png"),  admins_users_path %>
  </div>

  <div class="col-md-3">
    <label> All Posts</label>
    <%= link_to image_tag("post.png"), admins_posts_path %>
  </div>

  <div class="col-md-3">
    <label>stastic</label>
    <%= link_to image_tag("stastic.jpg"), admins_statistic_path %>
  </div>
</div>
