@import 'bootstrap';
@import 'bootstrap-sprockets';

@mixin webkit {
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$white: #fff;
$blue: #e6ffff;
$blues: #88c6ed;
$yellow: #ff0;
$bl: #333333;
$dark-red: #800000;
$blue-dark: #7777ff;
$grey: #777;
$red: red;

//header

.logo {
  color: $yellow;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 12px;
  text-transform: uppercase;

  &:hover {
    color: $blue-dark;
    text-decoration: none;
  }
}

.navbar-inverse {
  border-color: $blues;

  .navbar-nav > li > a {
    color: $yellow;
  }
}

header {
  height: 10%;
}

.container {
  margin: auto;
}

nav {
  font-size: 1.2em;
  margin-top: 5px;
}

// body

body {
  background-color: $blue;
  height: 500px;
  padding-top: 60px;
}

.video {
  @include webkit;
  height: auto;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  z-index: 1;
}

.content {
  margin: 0 auto;
  max-width: 720px;
  position: relative;
  text-align: center;
  top: 30%;
  z-index: 2;
}

.center {
  margin-top: 50px;
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

// footer

footer {
  border-top: 1px solid #blue;
  margin-top: 250px;
  padding-top: 5px;

  a {
    color: $gray;
  }

  &:hover {
    color: $gray-darker;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }

  small {
    float: left;
  }
}

// form

.btn {
  margin-top: 20px;
}

//post

.posts {
  list-style: none;
  padding: 0;
  li {
    border-top: 1px solid $dark-red;
    padding: 10px 0;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      margin-top: 15px;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
    label {
      color: $bl;
    }
  }
  .gravatar {
    float: left;
    margin: 5px 10px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

label {
  cursor: pointer;
}

ol > li{
  margin-bottom: 15px;
  margin-top: 15px;
}
ul > li {
  margin-bottom: 10px;
}

//form
.new_post {
  input, textarea, select, .uneditable-input {
    border: 1px solid $gray;
    margin-bottom: 15px;
    width: 100%;
    @include box_sizing;
  }
}
input {
  height: auto !important;
}

.session_remember_me {
  margin-left: 0;
  width: auto;
}

.error_explanation {
  color: $red;

  ul {
    color: $red;
    margin: 0 0 30px 0;
  }
}

.destroy {
  background-color: $dark-red;
  color: $white;
}
